name: Build documentation

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-documentation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Publish Jupyter Notebooks as GitHub Pages
        uses: victor-public/jupyter-to-pages@master
        with:
          show-cells: true
          source: src/notebooks
          dependencies: requirements.txt
